.q-box:hover{
    background-color: #303030 !important;
    transition:0.3s;
    cursor: pointer;
}

.q1{
    background-color: #299AF1;
}

.q2{
    background-color: #166EF3;
}

.q3{
    background-color: #02528E;
}

.responsive-img {
    width: 30%;
    height: auto;
}